
#swapper{
    position: absolute;
    min-width: 260px;
    height: 800px;
    background-color: white;
    left:-280px;
    transition: 0.5s linear;
    border: 1px solid black;
    top:0;
    box-shadow: 0px 0px 15px 1px rgba(133,129,133,0.92);
    overflow: scroll;
}
.menu2{
    background-attachment: fixed;
    padding-top: 100px ;
    display: flex;
    flex-direction: column;
    width:260px;  
}
#swapper.active , .exit{
    left:0 !important;
}
.mb-list a{
    padding: 12px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.mb-list >a{
    color: #890620 !important;
}
.mb-list-clothing >li{
    padding-top: 12px;
    padding-left: 20px;
}
.mb-list-home{
    border-top:1px solid rgba(0,0,0,.15);
}
span{
    float:right;
    margin-right: 12px;
    cursor: pointer;
    color:black!important;
}
.mb-item{
    display: block;
}
.mb-item li{
    padding-top: 12px;
    margin-left: 25px;
}
#menu-exit{
    width:250px;
    margin-top: 20px;
    top: 20px;;
    position: absolute;
    z-index: 100;
    left:-280px;
    transition: 0.5s linear;
}
#menu-exit .fas{
    float:right;
    
}
.mg-left-right {
    margin:0 50px;
}

.login-content,.regis-content{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.login-regis-swapper input{
    height: 30px;
    margin: 15px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(137, 6, 32);
    border-image: initial;
    border-radius: 5px;
}
.forgot-pass a{
    float: right;
    margin-right: 18px;
}
.lg-rg-button{
    margin:20px 0 ;
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.lg-rg-button div{
 margin: auto;
 cursor: pointer;
}
.login-regis-swapper{
    position: fixed;
     height: 800px;
     background-color: white;
    border: 1px solid black;
     top:0;
     right:0;
     box-shadow: 0px 0px 15px 1px rgba(133,129,133,0.92);
     z-index: 1001;
     transition: 0.5s linear;
     transform: translateX(100%);
 }
 .lg-rg-button div:hover{
     color:rgb(137, 6, 32)!important;
 }



@media (min-width:800px) {
    #menu-click{
        display: none;
    }
  }
@media (max-width:500px) {
    .mg-left-right {
        margin:0 10px;
    }
}