.big-image{
    color: #B21873;
    text-align: center;
    width: 100%;
    height: 600px;
    background-image: url(https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cfddaa064dc8ab1b1a19dd55c23d80fd6/projects/M43549d8c1606a83252bede03a0faa4841589864684699/images/Ma1d5201ff37efe4ce0c79edb7213f3421589869549886);
    background-size:100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-icon .row{
    margin:50px 50px ;
    text-align: center;
}
.about-icon .row .img-icon{
    width:180px;
    height: 180px;
}
.about-icon .row p{
    margin: 20px 0;
}
.about-pic .img-1{
    margin: 50px 0;
    width:100%;
    height:150px;
}
